_Apps {
	Draw Terminal                           -- exec termdraw
	Open _Terminal at $HOME [!A-T]          -- exec xterm
	Open Terminal Here [!A-S-T]             -- exec samedir
	--
	Take _Screenshot                        -- exec maim -d 3 -s "tmp/scrot-$(date +%Y-%m-%d-%H%M%S)"
	File _Browser                           -- exec xfiles
	_Netsurf                                -- exec focusnext -c netsurf-gtk3 netsurf-gtk3
	Surf                                    -- exec focusnext -c Surf surf seninha.org
	_Seamonkey                              -- exec focusnext -c Seamonkey seamonkey
	_Firefox                                -- exec focusnext -c Firefox firefox
	_Chrome                                 -- exec focusnext -c Chromium chrome
	_HexChat                                -- exec focusnext hexchat hexchat
	A_randr                                 -- exec arandr
	_DrawTerm                               -- exec drawterm
	_Games {
		_NetHack                        -- exec nethack-3.6.6
		Space Cadet _Pinball            -- exec SpaceCadetPinball
		_Spider                         -- exec spider
		Super Tux _Kart                 -- exec supertuxkart
		TES III Morro_wind              -- exec openmw
	}
}

_Window {
	Stic_k [!A-S-S]                         -- exec shodc state -y
	S_hade [!A-S-N]                         -- exec shodc state -s
	Minimi_ze [!A-S-Z]                      -- exec shodc state -m
	_Maximize [!A-S-W]                      -- exec shodc state -M
	Full_Screen [!A-S-F]                    -- exec shodc state -f
	_Below [!A-S-B]                         -- exec shodc state -b
	_Above [!A-S-A]                         -- exec shodc state -a
	--
	_Go To Desktop {
		Go To Desktop _1 [!A-1]         -- exec shodc goto 1
		Go To Desktop _2 [!A-2]         -- exec shodc goto 2
		Go To Desktop _3 [!A-3]         -- exec shodc goto 3
		Go To Desktop _4 [!A-4]         -- exec shodc goto 4
		Go To Desktop _5 [!A-5]         -- exec shodc goto 5
	}
	Move _To {
		Move to Desktop _1 [!A-S-1]     -- exec shodc sendto 1
		Move to Desktop _2 [!A-S-2]     -- exec shodc sendto 2
		Move to Desktop _3 [!A-S-3]     -- exec shodc sendto 3
		Move to Desktop _4 [!A-S-4]     -- exec shodc sendto 4
		Move to Desktop _5 [!A-S-5]     -- exec shodc sendto 5
	}
	--
	_Focus {
		Focus Column at _Left [!A-H]    -- exec shodc focus -L
		Focus Column at _Right [!A-L]   -- exec shodc focus -R
		Focus Row _Above [!A-K]         -- exec shodc focus -T
		Focus Row _Below [!A-J]         -- exec shodc focus -B
		Focus Previous Tab [!A-P]       -- exec shodc focus -cP
		Focus Next Tab [!A-N]           -- exec shodc focus -cN
	}
	Windows _List                           -- exec shodc focus {
		shodc list -l | awk -F "\t" '$4==$6{gsub(/--/, "");print $7 "--" $6}'
	}
	--
	_Close Window [!A-S-Q]                  -- exec shodc close
}

_Music {
	Pause/_Continue                         -- exec mpc toggle
	_Next song                              -- exec mpc next
	_Previous song                          -- exec mpc cdprev
	--
	Play_lists                              -- mpc clear && mpc load "$*" && mpc play {
		mpc lsplaylists | sed 's/.*/_&/'
	}
	_Song                                   -- mpc searchplay filename "$*" {
		mpc playlist -f '[[[%artist% - [%album% - ]]%title%]|[%file%]] -- %file%' |\
		awk 'BEGIN {FS = " -- "; OFS = " -- "} {gsub(/[][{}_]/, "\\&/", $1); print }'
	}
}

_Help {
	Section _1                              -- man -Tpdf 1 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.1
	}
	Section _2                              -- man -Tpdf 2 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.2
	}
	Section _3                              -- man -Tpdf 3 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.3
	}
	Section _4                              -- man -Tpdf 4 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.4
	}
	Section _5                              -- man -Tpdf 5 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.5
	}
	Section _6                              -- man -Tpdf 6 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.6
	}
	Section _7                              -- man -Tpdf 7 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.7
	}
	Section _8                              -- man -Tpdf 8 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.8
	}
	Section _9                              -- man -Tpdf 9 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.9
	}
}
