_Apps {
	_Terminal [!A-T:#16x16/term.xpm]                -- exec xterm
	Terminal (_here) [!A-S-T:#16x16/term-here.xpm]  -- exec samedir
	Terminal (_draw) [#16x16/term-draw.xpm]         -- exec termdraw
	--
	Take _Screenshot [#16x16/camera.xpm]            -- exec maim -d 3 -s "tmp/scrot-$(date +%Y-%m-%d-%H%M%S)"
	File _Browser [#16x16/folder.xpm]               -- exec xfiles
	_Netsurf                                        -- exec focusnext -c netsurf-gtk3 netsurf-gtk3
	_Surf [#16x16/surf.xpm]                         -- exec surf seninha.org
	Seamonkey                                       -- exec focusnext -c Seamonkey seamonkey
	_Firefox [#16x16/firefox.xpm]                   -- exec focusnext -c Firefox firefox
	_Chrome                                         -- exec focusnext -c Chromium chrome
	_HexChat [#16x16/chat.xpm]                      -- exec focusnext hexchat hexchat
	A_randr [#16x16/screen-size.xpm]                -- exec arandr
	_DrawTerm                                       -- exec drawterm
	_Games [#16x16/game.xpm] {
		_DOOM [#16x16/doom.xpm]                 -- exec gzdoom
		_NetHack [#16x16/hack.xpm]              -- exec nethack-3.6.6
		_Pinball 3D [#16x16/pinball.xpm]        -- exec SpaceCadetPinball
		_Spider [#16x16/solitaire.xpm]          -- exec spider
		Super Tux _Kart [#16x16/race.xpm]       -- exec supertuxkart
		TES III Morro_wind [#16x16/hack.xpm]    -- exec openmw
	}
}

_Control {
	Stic_k [!A-S-S : #16x16/window-stick.xpm]       -- exec shodc state -y
	S_hade [!A-S-N : #16x16/window-shade.xpm]       -- exec shodc state -s
	Minimi_ze [!A-S-Z : #16x16/window-minimize.xpm] -- exec shodc state -m
	_Maximize [!A-S-W : #16x16/window-maximize.xpm] -- exec shodc state -M
	Full_Screen [!A-S-F : #16x16/window-fullscreen.xpm] -- exec shodc state -f
	_Below [!A-S-B : #16x16/window-below.xpm]       -- exec shodc state -b
	_Above [!A-S-A : #16x16/window-above.xpm]       -- exec shodc state -a
	--
	Focus _Previous [!A-S-Tab]                      -- exec shodc cycle -s
	Focus _Next [!A-Tab]                            -- exec shodc cycle
	--
	_Go To Desktop {
		Go To Desktop _1 [!A-1]                 -- exec shodc goto 1
		Go To Desktop _2 [!A-2]                 -- exec shodc goto 2
		Go To Desktop _3 [!A-3]                 -- exec shodc goto 3
		Go To Desktop _4 [!A-4]                 -- exec shodc goto 4
		Go To Desktop _5 [!A-5]                 -- exec shodc goto 5
	}
	Move _To {
		Move to Desktop _1 [!A-S-1]             -- exec shodc sendto 1
		Move to Desktop _2 [!A-S-2]             -- exec shodc sendto 2
		Move to Desktop _3 [!A-S-3]             -- exec shodc sendto 3
		Move to Desktop _4 [!A-S-4]             -- exec shodc sendto 4
		Move to Desktop _5 [!A-S-5]             -- exec shodc sendto 5
	}
	--
	_Focus {
		Focus Column at _Left [!A-H]            -- exec shodc focus -L
		Focus Column at _Right [!A-L]           -- exec shodc focus -R
		Focus Row _Above [!A-K]                 -- exec shodc focus -T
		Focus Row _Below [!A-J]                 -- exec shodc focus -B
		Focus Previous Tab [!A-P]               -- exec shodc focus -cP
		Focus Next Tab [!A-N]                   -- exec shodc focus -cN
	}
	_Windows                                        -- exec shodc focus "$@" {
		shodc list -l | awk -F "\t" '$4==$6{printf "%s\t%s\n", $7, $6}'
	}
	--
	_Close [!A-S-Q : #16x16/window-close.xpm]       -- exec shodc close
}

_Files {
	_News [#16x16/news.xpm]                         -- exec plumb -- "$*" {
		find ~/var/news -type f -newer ~/lib/newstime |\
		sed -E 's,	, ,g; s,.*/(.*/)([0-9]+\.)?(.*),\1\3	&,'
	}
	_Bookmarks [#16x16/bookmark.xpm]                -- exec plumb -- "$*" {
		<~/lib/favs sed -E '/^[[:space:]]*(#|$)/d'
	}
	_Reading Now [#16x16/book.xpm]                  -- exec plumb -- "$*" {
		<~/lib/read sed -E '/^[[:space:]]*(#|$)/d; s,.*/(.*)\.[^.]+,\1	&,'
	}
}

_Music {
	Pause/_Continue [#16x16/music-playpause.xpm]    -- exec mpc toggle
	_Next song [#16x16/music-next.xpm]              -- exec mpc next
	_Previous song [#16x16/music-prev.xpm]          -- exec mpc cdprev
	--
	Play_lists                                      -- mpc clear && mpc load "$*" && mpc play {
		mpc lsplaylists | sed '/\.m3u$/d'
	}
	_Song                                           -- mpc searchplay filename "$*" {
		mpc playlist -f '[[[%artist% - [%album% - ]]%title%]|[%file%]]\t%file%'
	}
}

_Help {
	Section _1                                      -- man -Tpdf 1 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.1
	}
	Section _2                                      -- man -Tpdf 2 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.2
	}
	Section _3                                      -- man -Tpdf 3 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.3
	}
	Section _4                                      -- man -Tpdf 4 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.4
	}
	Section _5                                      -- man -Tpdf 5 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.5
	}
	Section _6                                      -- man -Tpdf 6 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.6
	}
	Section _7                                      -- man -Tpdf 7 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.7
	}
	Section _8                                      -- man -Tpdf 8 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.8
	}
	Section _9                                      -- man -Tpdf 9 "$*" | ifne zathura - {
		cat $HOME/var/cache/man.9
	}
}
